<template>
	<div class="container">
		<nav class="uk-navbar-container">
			<div class="uk-navbar-right uk-flex uk-flex-center">
				<input id="search" class="uk-input" v-model="searchQuery" @change="startSearch" type="text" placeholder="Пошук" autofocus>
				<span>Кількість іконок: {{ Object.keys(searchIcons).length }}</span>
			<button href="" class="uk-button uk-button-default" @click.prevent="startSearch"><i class="fas fa-search icon"></i>Пошук</button>
			</div>
		</nav>
		<div class="icons-container">
			<div class="uk-grid uk-flex-around uk-text-center" uk-grid>
				<template v-for="(val, key) in searchIcons">
					<template v-for="style in searchIcons[key].styles">
						<div class="uk-width-1-4">
							<div class="uk-card uk-card-default uk-card-body icon-card">
								<i :class="iconClass(key, style)"></i>
								<p class="icon-label">{{ val.name }}</p>
								<button class="uk-button uk-button-default copy-button" @click="toClipboard(iconClass(key, style))"><i class="far fa-copy fa-2x"></i></button>
							</div>
						</div>
					</template>
				</template>
			</div>
		</div>
	</div>
</template>

<script>
//import axios from 'axios';
import $ from 'jquery';

export default {
  data() {
    return {
      searchQuery: '',
      icons: {},
      searchIcons: {},
    };
  },
  mounted() {
    $.getJSON('../data/icons.json', data => {
      let json = JSON.parse(JSON.stringify(data));
      let arra = {};
      for (let key in json) {
        let obj = json[key];
        let icon = {};
        icon.name = obj.label;
        icon.styles = obj.styles;
        icon.terms = obj.search.terms;
        arra[key] = icon;
      }
      this.icons = arra;
      this.searchIcons = this.icons;
      /*
			 var FileSaver = require('file-saver');
			 var blob = new Blob([JSON.stringify(arra, null, 2)], {type: "text/plain;charset=utf-8"});
			 FileSaver.saveAs(blob, "test.json");

			  console.log(arra);
			  //*/
    });
  },
  methods: {
    toClipboard: function(key) {
      this.copyToClipboard('<i class="' + key + '"></i>');
    },
    copyToClipboard: str => {
      const el = document.createElement('textarea');
      el.value = str;
      el.setAttribute('readonly', '');
      el.style.position = 'absolute';
      el.style.left = '-9999px';
      document.body.appendChild(el);
      el.select();
      document.execCommand('copy');
      document.body.removeChild(el);
    },
    iconClass: function(icon, style) {
      return 'fa' + style[0] + ' fa-' + icon + ' fa-4x';
    },
    startSearch: function() {
      if (this.searchQuery !== '') {
        let ser = {};
        for (let key in this.icons) {
          if (key.indexOf(this.searchQuery) !== -1 || this.searchQuery.indexOf(key) !== -1) {
            ser[key] = this.icons[key];
          } else if (this.icons[key].terms !== null) {
            for (var i = 0; i < this.icons[key].terms.length; i++) {
              if (this.searchQuery.indexOf(this.icons[key].terms[i]) !== -1 || this.icons[key].terms[i].indexOf(this.searchQuery) !== -1) {
                ser[key] = this.icons[key];
                break;
              }
            }
          }
        }
        this.searchIcons = ser;
      } else this.searchIcons = this.icons;
    },
  },
};
</script>

<style lang="scss" scoped>
.container {
  .copy-button {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    border-width: 0px;
  }
  .icon-card {
    padding-bottom: 40px;
  }
  .icon-label {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: -15px;
  }
  nav {
    position: relative;
    .icon {
      margin-right: 10px;
    }
    span {
      position: absolute;
      bottom: 5px;
      right: 5px;
      margin: 0;
      padding: 5px;
    }
  }
  width: 500px;
  input {
    margin: 5px;
  }
  .icons-container {
    overflow-y: auto;
    width: calc(100%-5px);
    height: 500px;
    padding: 0 0 0 0;
    margin: 5px;
  }
}
</style>
